{% extends 'base.html.twig' %}

{% block title %}
  Sign in —
{% endblock %}

{% block body %}
  <main class="sign-in">
    <!-- LOGO -->
    <div class="sign-in-logo">
      <img src="{{ asset('img/logo.svg') }}" />
    </div>

    <div class="form-container">
      <!-- FORM -->
      <form method="post">
        <h1 style="margin-top:80px">Sign in</h1>
        <div class="credentials">
          {% if error %}
            <div style="color:#dd0000;margin-bottom:10px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          <input type="email" name="email" value="{{ last_username }}" required placeholder="E-mail" />
          <input type="password" name="password" autocomplete="current-password" required placeholder="Password" />
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

          <button type="submit">Continue with credentials</button>
        </div>
      </form>

      <!-- FORM ILLUSTRATION -->
      <img src="{{ asset('img/management.png') }}" width="338px" height="187" style="margin-top:120px" alt="Management" />
    </div>
  </main>
{% endblock %}
