@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display&display=swap');

:root {
  --font: 'Inter', sans-serif;
  --titles: 'Playfair Display', serif;
  --n10: #FFFFFF;
  --n20: #F4F7FB;
  --n30: #EFF2F6;
  --n40: #E5E8EC;
  --n50: #798391;
  --n60: #1D2331;
  --primary: #4D8C56;
  --primary-hover: #437D4B;
  --failed: #DB4C3F;
  --failed-hover: #b0382d;
}

body {
  padding: 0;
  margin: 0;
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/**
 * UTILS
 */
.btn {
  border: 0;
  border-radius: 6px;
  padding: 0 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 34px;
  cursor: pointer;
  color: var(--n60);
}

.btn:hover {
  background-color: var(--n30);
}

.btn-primary {
  color: white;
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

/**
 * LANDING
 */
.landing-header {
  font-family: var(--font);
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 1064px;
  margin-top: 20px;
}

.landing-header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.landing-header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.landing-header nav a {
  margin-right: 10px;
}

/**
 * Sign in 
 */
.sign-in {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 780px;
}

.sign-in-logo {
  margin-top: 100px;
}

.form-container {
  display: flex;
  align-items: center;
}

.form-container form {
  flex: 1;
  margin-right: 50px;
}

/**
 * Dashboard
 */
.weekdays {
  display: flex;
}

.weekdays > div {
  width: 14.28%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--n50);
  text-align: center;
}

.weekdays > div span:last-child {
  display: none;
}

.days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.days > div {
  width: calc(14.28% - 20px);
  margin: 10px;
  border: 1px solid var(--n40);
  border-radius: 4px;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-weight: 800;
  font-size: 24px;
  color: var(--n60);
  transition: all 200ms ease-in-out;
}

.days .on-this-month {
  cursor: pointer;
}

.days .on-this-month:hover {
  background-color: var(--n20);
}

.days .not-this-month {
  opacity: 0.4;
  pointer-events: none;
}

.days .cant-set {
  pointer-events: none;
}

.days .set {
  background-color: var(--primary);
  border-color: var(--primary-hover);
  color: white;
}

.days .set:hover {
  background-color: var(--primary-hover);
}

.days .failed {
  background-color: var(--failed);
  border-color: var(--failed-hover);
  color: white;
}

.days .failed:hover {
  background-color: var(--failed-hover);
}

/**
 * SIGN IN
 */
.login-btn {
  height: 50px;
  border: 1px solid var(--n40);
  border-radius: 6px;
  background-color: transparent;
  padding: 0 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: var(--n20);
}

.login-btn svg {
  width: 20px;
  height: 20px;
}

.login-btn span {
  font-size: 16px;
  font-weight: 600;
  color: var(--n60);
  margin-left: 10px;
}

.credentials {
  margin-top: 15px;
  padding-top: 15px;
}

.credentials input {
  display: block;
  margin-bottom: 10px;
  border: 1px solid var(--n40);
  height: 50px;
  border: 1px solid var(--n40);
  border-radius: 6px;
  background-color: transparent;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 14px;
  font-weight: 500;
  color: var(--n60);
}

.credentials input:focus {
  border-color: var(--n60);
}

.credentials button {
  height: 50px;
  border: 0;
  border-radius: 6px;
  background-color: transparent;
  padding: 0 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  color: var(--n10);
}

/**
 * App globals
 */
.app-header {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  padding-left: 5px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.header-btn {
  border: 0;
  padding: 4px 5px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-btn:hover {
  background-color: var(--primary-hover);
}

.app-header .profile-options-container {
  margin-left: auto;
  position: relative;
}

.app-header .avatar {
  height: 28px;
}

.app-header .avatar img {
  border-radius: 14px;
}

.profile-options {
  position: absolute;
  top: 100%;
  background-color: var(--n10);
  right: 0;
  width: 100px;
  border-radius: 6px;
  padding: 4px 0;
  border: 1px solid var(--n40);
  pointer-events: none;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

.profile-options-container:hover .profile-options {
  pointer-events: all;
  opacity: 1;
}

.profile-options a {
  color: var(--n50);
  text-decoration: none;
  font-size: 14px;
  padding: 8px 10px;
  display: block;
  transition: all 200ms ease-in-out;
}

.profile-options a:hover {
  color: var(--n60);
  background-color: var(--n30);
}

.sidebar {
  width: 300px;
  background-color: #f9f9f9;
  height: 100vh;
  padding: 20px 10px 20px 15px;
  box-sizing: border-box;
  position: fixed;
  top: 44px;
  left: 0;
  bottom: 0;
  z-index: 999;
  transition: all 200ms ease-in-out;
}

.sidebar h2 {
  font-size: 14px;
  color: var(--n60);
}

.sidebar .habit a,
.sidebar .new-habit {
  font-size: 14px;
  color: var(--n60);
  text-decoration: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 7px;
  height: 30px;
  margin-bottom: 2px;
}

.sidebar .new-habit {
  border: 0;
  cursor: pointer;
  padding: 0 10px;
}

.sidebar .habit a:hover,
.sidebar .new-habit:hover,
.sidebar .habit a.active {
  background-color: var(--n40);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-300px);
}

/**
 * MAIN CONTAINER
 */
.content {
  padding-left: 300px;
  transition: all 300ms ease-in-out;
}

.sidebar.closed + .content {
  padding-left: 0;
}

.main-container {
  padding-top: 44px;
  width: calc(100% - 80px);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

/**
 * SINGLE HABIT
 */
.habit-title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: var(--n60);
}

.month-selector {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.month-selector .prev,
.month-selector .next {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  display: flex;
  align-items: center;
}

.month-selector .prev:hover,
.month-selector .next:hover {
  background-color: var(--n40);
}

.month-selector .month-name {
  font-weight: 600;
  font-size: 14px; 
  margin: 0 10px;
}

@media screen and (max-width: 900px) {
  .sidebar.open {
    position: fixed;
    right: 0;
    width: 100%;
  }
  .sidebar.open + .content {
    padding-left: 0;
  }
  .main-container {
    max-width: 100%;
    width: calc(100% - 40px);
  }
  .weekdays {
    margin-bottom: 10px;  
  }
  .weekdays > div span:first-child {
    display: none;
  }
  .weekdays > div span:last-child {
    display: block;
  }
  .days > div {
    width: calc(14.28% - 4px);
    height: 50px;
    margin: 2px;
    font-size: 18px;
  }
}

@media screen and (max-width: 780px) {  
  .sign-in-logo {
    margin-top: 20px;
  }
  
  .form-container {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }

  .form-container form {
    margin-right: 0;
  }

  .form-container form + img{
    display: none;
  }
}