{% extends 'base.html.twig' %}

{% block title %}
  Dash —
{% endblock %}

{% block body %}
  <div>
    <!-- MAIN HEADER -->
    <header class="app-header">
      <button id="sidebar-open-btn" class="header-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fillRule="evenodd" clipRule="evenodd" d="M4.5 5H19.5C19.6326 5 19.7598 5.05268 19.8536 5.14645C19.9473 5.24021 20 5.36739 20 5.5C20 5.63261 19.9473 5.75979 19.8536 5.85355C19.7598 5.94732 19.6326 6 19.5 6H4.5C4.36739 6 4.24021 5.94732 4.14645 5.85355C4.05268 5.75979 4 5.63261 4 5.5C4 5.36739 4.05268 5.24021 4.14645 5.14645C4.24021 5.05268 4.36739 5 4.5 5ZM4.5 11H19.5C19.6326 11 19.7598 11.0527 19.8536 11.1464C19.9473 11.2402 20 11.3674 20 11.5C20 11.6326 19.9473 11.7598 19.8536 11.8536C19.7598 11.9473 19.6326 12 19.5 12H4.5C4.36739 12 4.24021 11.9473 4.14645 11.8536C4.05268 11.7598 4 11.6326 4 11.5C4 11.3674 4.05268 11.2402 4.14645 11.1464C4.24021 11.0527 4.36739 11 4.5 11ZM4.5 17H19.5C19.6326 17 19.7598 17.0527 19.8536 17.1464C19.9473 17.2402 20 17.3674 20 17.5C20 17.6326 19.9473 17.7598 19.8536 17.8536C19.7598 17.9473 19.6326 18 19.5 18H4.5C4.36739 18 4.24021 17.9473 4.14645 17.8536C4.05268 17.7598 4 17.6326 4 17.5C4 17.3674 4.05268 17.2402 4.14645 17.1464C4.24021 17.0527 4.36739 17 4.5 17Z" fill="white" />
        </svg>
      </button>

      <div class="profile-options-container">
        <div class="avatar">
          <img src="{{ app.user.avatar }}" alt="{{ app.user.name }}" width="28px" height="28px" />
        </div>
        <div class="profile-options">
          <a href="/sign-out">Sign out</a>
        </div>
      </div>
    </header>

    <!-- APP CONTENT -->
    <div class="app-content">
      <!-- LIST OF HABITS -->
      <aside class="sidebar open">
        <h2>Habits</h2>
        {% for habit in habits %}
          <div class="habit">
            <a href="{{ path('app_single_habit', { habitId: habit.id }) }}" class="{{ activeHabit.id == habit.id ? 'active' : '' }}">{{ habit.title }}</a>
          </div>
        {% endfor %}
        <button class="new-habit">+ Add new</button>
      </aside>

      <!-- CURRENT HABIT -->
      <main class="content">
        <div id="active-habit" data-id="{{ activeHabit.id }}" class="main-container">
          <h2 class="habit-title">{{ activeHabit.title }}</h2>
          <div class="month-selector">
            <a href="{{ path('app_single_habit', { habitId: activeHabit.id }) }}?m={{ prevMonth }}" class="prev">
              <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.68003 12.5105C6.48477 12.7058 6.16819 12.7058 5.97292 12.5105L0.148811 6.68642C-0.0464506 6.49116 -0.0464506 6.17458 0.148811 5.97932C0.344073 5.78405 0.660656 5.78405 0.855918 5.97932L6.68003 11.8034C6.87529 11.9987 6.87529 12.3153 6.68003 12.5105Z" fill="#798391" />
                <path d="M6.68002 0.146523C6.87528 0.341784 6.87528 0.658367 6.68002 0.853629L0.853553 6.68009C0.658291 6.87535 0.341709 6.87535 0.146447 6.68009C-0.0488153 6.48483 -0.0488153 6.16825 0.146447 5.97298L5.97291 0.146522C6.16817 -0.0487404 6.48475 -0.0487394 6.68002 0.146523Z" fill="#798391" />
              </svg>
            </a>
            <a href="{{ path('app_single_habit', { habitId: activeHabit.id }) }}?m={{ nextMonth }}" class="next">
              <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.146447 0.146447C0.341709 -0.0488155 0.658291 -0.0488155 0.853553 0.146447L6.67767 5.97056C6.87293 6.16582 6.87293 6.4824 6.67767 6.67767C6.4824 6.87293 6.16582 6.87293 5.97056 6.67767L0.146447 0.853553C-0.0488156 0.658291 -0.0488155 0.341709 0.146447 0.146447Z" fill="#798391" />
                <path d="M0.146461 12.5105C-0.048801 12.3152 -0.048801 11.9986 0.146461 11.8034L5.97292 5.97689C6.16819 5.78163 6.48477 5.78163 6.68003 5.97689C6.87529 6.17215 6.87529 6.48874 6.68003 6.684L0.853568 12.5105C0.658306 12.7057 0.341723 12.7057 0.146461 12.5105Z" fill="#798391" />
              </svg>
            </a>
            <div class="month-name">{{ monthName }}</div>
          </div>
          <div>
            <div class="weekdays">
              <div>
                <span>Sunday</span><span>Sun</span>
              </div>
              <div>
                <span>Monday</span><span>Mon</span>
              </div>
              <div>
                <span>Tuesday</span><span>Tue</span>
              </div>
              <div>
                <span>Wednesday</span><span>Wed</span>
              </div>
              <div>
                <span>Thursday</span><span>Thu</span>
              </div>
              <div>
                <span>Friday</span><span>Fri</span>
              </div>
              <div>
                <span>Saturday</span><span>Sat</span>
              </div>
            </div>
            <div class="days">
              {% for day in days %}
                <div data-day="{{ day.date }}" class="day-btn {{ day.isCurrentMonth ? 'on-this-month' : 'not-this-month' }} {{ day.cantSet ? 'cant-set' : '' }} {{ day.isSet ? 'set' : '' }} {{ day.hasFailed ? 'failed' : '' }}">{{ day.date|date('j') }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}

{% block endscripts %}
  <script type="text/javascript">
    const habitId = document.querySelector('#active-habit').dataset.id
    
    // Handle open/close sidebar
    const sidebarCloserBtn = document.getElementById('sidebar-open-btn')
    const sidebarContainer = document.querySelector('.sidebar')
    sidebarCloserBtn.addEventListener('click', () => {
      if (sidebarContainer.classList.contains('open')) {
        sidebarContainer.classList.remove('open')
        sidebarContainer.classList.add('closed')
      } else {
        sidebarContainer.classList.add('open')
        sidebarContainer.classList.remove('closed')
      }
    })
    
    // Close sidebar on mobile
    if (window.innerWidth < 900) {
      sidebarContainer.classList.remove('open')
      sidebarContainer.classList.add('closed')
    }
    
    // Handle day click
    const daysBtns = document.querySelectorAll('.day-btn')
    daysBtns.forEach((dayBtn) => {
      dayBtn.addEventListener('click', async (e) => {
        const { day } = e.target.dataset
    
        // Check if user shouldn't click
        const notThisMonth = e.target.classList.contains('not-this-month')
        const cantSet = e.target.classList.contains('cant-set')
    
        if (!notThisMonth && !cantSet) {
          // Check for classes to see if is set or failed
          const isSet = e.target.classList.contains('set')
          const hasFailed = e.target.classList.contains('failed')
    
          // Defines correct classes to toggle between set and failed
          if (isSet) {
            e.target.classList.remove('set')
            e.target.classList.add('failed')
          } else {
            e.target.classList.remove('failed')
            e.target.classList.add('set')
          }
    
          // Save new or delete existing entry
          const resp = await fetch(`/app/${habitId}/save`, {
            method: 'POST',
            body: JSON.stringify({ date: day }),
            headers: {
              'Content-type': 'application/json'
            }
          })
        }
      })
    })
  </script>
{% endblock %}
