<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trackist</title>
    <meta name="description" content="Trackist is an open source tool that helps you to track and build good habits and reach your goals. " />
    <link rel="icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
  </head>
  <body>
    <main>
      <header class="landing-header">
        <div class="logo">
          <svg width="107" height="31" viewBox="0 0 107 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M41.7546 24.4888C41.237 24.4888 40.7785 24.4148 40.3792 24.2668C39.9799 24.1114 39.6434 23.8931 39.3698 23.6119C39.0962 23.3307 38.8892 22.9903 38.7487 22.5907C38.6082 22.1911 38.5379 21.7397 38.5379 21.2365V15.0649H37.462C37.2993 15.0649 37.1588 15.0131 37.0405 14.9095C36.9295 14.8059 36.8741 14.6505 36.8741 14.4433V13.2445L38.7043 12.9115L39.3255 9.94778C39.4068 9.61478 39.6323 9.44828 40.0021 9.44828H41.5994V12.9337H44.5499V15.0649H41.5994V21.0367C41.5994 21.3549 41.6733 21.6065 41.8212 21.7915C41.9765 21.9765 42.1946 22.069 42.4756 22.069C42.6235 22.069 42.7492 22.0542 42.8528 22.0246C42.9563 21.9876 43.045 21.9506 43.119 21.9136C43.1929 21.8692 43.2595 21.8322 43.3186 21.8026C43.3852 21.7656 43.4518 21.7471 43.5183 21.7471C43.607 21.7471 43.681 21.7693 43.7401 21.8137C43.7993 21.8507 43.8585 21.9173 43.9176 22.0135L44.8383 23.4787C44.4168 23.8117 43.9398 24.0633 43.4074 24.2335C42.875 24.4037 42.324 24.4888 41.7546 24.4888Z" fill="#4D8C56" />
            <path d="M48.3973 14.7541C48.7597 14.1029 49.1775 13.5886 49.6507 13.2112C50.124 12.8338 50.6786 12.6451 51.3146 12.6451C51.8322 12.6451 52.2537 12.7672 52.5791 13.0114L52.3794 15.2758C52.3424 15.4238 52.2833 15.5274 52.2019 15.5866C52.128 15.6384 52.0245 15.6643 51.8914 15.6643C51.773 15.6643 51.603 15.6495 51.3811 15.6199C51.1593 15.5829 50.9522 15.5644 50.76 15.5644C50.4789 15.5644 50.2275 15.6051 50.0057 15.6865C49.7912 15.7679 49.599 15.8826 49.4289 16.0306C49.2588 16.1786 49.1035 16.3599 48.963 16.5745C48.8299 16.7891 48.7042 17.0333 48.5859 17.3071V24.3112H45.5244V12.8671H47.3325C47.643 12.8671 47.8575 12.9226 47.9758 13.0336C48.0941 13.1446 48.1792 13.337 48.2309 13.6108L48.3973 14.7541Z" fill="#4D8C56" />
            <path d="M59.0701 19.5271C58.3232 19.5641 57.7021 19.6307 57.2066 19.7269C56.7111 19.8157 56.3155 19.9341 56.0197 20.0821C55.7313 20.2301 55.5243 20.4003 55.3986 20.5927C55.2803 20.7777 55.2211 20.9812 55.2211 21.2032C55.2211 21.6472 55.3431 21.9617 55.5871 22.1467C55.8386 22.3317 56.1861 22.4242 56.6298 22.4242C57.14 22.4242 57.58 22.3354 57.9498 22.1578C58.3269 21.9728 58.7003 21.6879 59.0701 21.3031V19.5271ZM52.8363 14.4544C53.5092 13.8476 54.2524 13.3962 55.0658 13.1002C55.8792 12.7968 56.7592 12.6451 57.7057 12.6451C58.3861 12.6451 58.9924 12.7561 59.5249 12.9781C60.0647 13.2001 60.5195 13.5109 60.8892 13.9105C61.2663 14.3027 61.5547 14.7726 61.7544 15.3202C61.9541 15.8678 62.0539 16.4672 62.0539 17.1184V24.3112H60.6563C60.3679 24.3112 60.146 24.2705 59.9907 24.1891C59.8428 24.1077 59.7208 23.9375 59.6247 23.6785L59.3807 22.9459C59.0923 23.1975 58.8113 23.4195 58.5377 23.6119C58.2714 23.8043 57.9941 23.9671 57.7057 24.1003C57.4174 24.2261 57.1068 24.3223 56.774 24.3889C56.4486 24.4555 56.0826 24.4888 55.6759 24.4888C55.173 24.4888 54.7146 24.4222 54.3004 24.289C53.8863 24.1558 53.5277 23.9597 53.2245 23.7007C52.9287 23.4343 52.6995 23.105 52.5368 22.7128C52.3741 22.3206 52.2928 21.8692 52.2928 21.3586C52.2928 20.9368 52.4 20.515 52.6144 20.0932C52.8289 19.6714 53.1949 19.2903 53.7126 18.9499C54.2376 18.6021 54.9327 18.3172 55.7979 18.0952C56.6705 17.8658 57.7612 17.7363 59.0701 17.7067V17.1184C59.0701 16.4006 58.9185 15.8752 58.6153 15.5422C58.3121 15.2018 57.8758 15.0316 57.3064 15.0316C56.8849 15.0316 56.5337 15.0834 56.2527 15.187C55.9717 15.2832 55.7239 15.3905 55.5095 15.5089C55.3024 15.6199 55.1065 15.7272 54.9216 15.8308C54.7367 15.927 54.5223 15.9751 54.2783 15.9751C54.0638 15.9751 53.8826 15.9233 53.7347 15.8197C53.5942 15.7087 53.4759 15.5792 53.3798 15.4312L52.8363 14.4544Z" fill="#4D8C56" />
            <path d="M72.075 15.4201C71.9863 15.5385 71.8975 15.631 71.8088 15.6976C71.72 15.7568 71.5943 15.7864 71.4316 15.7864C71.2838 15.7864 71.1396 15.7457 70.9991 15.6643C70.8659 15.5755 70.7107 15.483 70.5332 15.3868C70.3557 15.2832 70.145 15.1907 69.9009 15.1093C69.6569 15.0205 69.3537 14.9761 68.9914 14.9761C68.5329 14.9761 68.1336 15.0612 67.7934 15.2314C67.4606 15.3942 67.1833 15.631 66.9615 15.9418C66.7396 16.2526 66.5733 16.63 66.4623 17.074C66.3588 17.518 66.3071 18.0175 66.3071 18.5725C66.3071 19.7417 66.54 20.6371 67.0059 21.2587C67.4791 21.8803 68.1225 22.1911 68.9359 22.1911C69.2169 22.1911 69.4572 22.1689 69.6569 22.1245C69.864 22.0727 70.0414 22.0098 70.1893 21.9358C70.3446 21.8618 70.4777 21.7804 70.5886 21.6916C70.6996 21.6028 70.8031 21.5214 70.8992 21.4474C71.0028 21.3734 71.1026 21.3142 71.1987 21.2698C71.3022 21.218 71.4169 21.1921 71.5426 21.1921C71.7792 21.1921 71.9641 21.2809 72.0972 21.4585L72.9735 22.5685C72.6481 22.9459 72.3005 23.2604 71.9308 23.512C71.5611 23.7562 71.1765 23.9523 70.7772 24.1003C70.3853 24.2409 69.986 24.3371 69.5793 24.3889C69.1725 24.4481 68.7695 24.4777 68.3702 24.4777C67.6677 24.4777 67.0022 24.3482 66.3736 24.0892C65.745 23.8228 65.1941 23.438 64.7209 22.9348C64.2476 22.4316 63.8705 21.8137 63.5895 21.0811C63.3159 20.3485 63.1791 19.5123 63.1791 18.5725C63.1791 17.7363 63.3011 16.9593 63.5451 16.2415C63.7891 15.5237 64.1478 14.9021 64.621 14.3767C65.0943 13.8513 65.6785 13.4406 66.3736 13.1446C67.0761 12.8412 67.8858 12.6895 68.8028 12.6895C69.6754 12.6895 70.4407 12.8301 71.0989 13.1113C71.757 13.3925 72.3486 13.7995 72.8736 14.3323L72.075 15.4201Z" fill="#4D8C56" />
            <path d="M76.9195 7.76108V17.1517H77.4298C77.622 17.1517 77.7736 17.1258 77.8845 17.074C77.9955 17.0148 78.1064 16.9112 78.2173 16.7632L80.7463 13.3888C80.872 13.2186 81.0125 13.0891 81.1678 13.0003C81.3305 12.9115 81.5339 12.8671 81.7779 12.8671H84.5731L81.2898 17.0407C81.031 17.3885 80.7315 17.6623 80.3914 17.8621C80.5615 17.9805 80.7094 18.1174 80.8351 18.2728C80.9608 18.4282 81.0828 18.6021 81.2011 18.7945L84.7395 24.3112H81.9886C81.752 24.3112 81.5487 24.2742 81.3786 24.2002C81.2085 24.1188 81.068 23.9782 80.9571 23.7784L78.3837 19.5715C78.2802 19.3939 78.1729 19.2792 78.062 19.2274C77.9511 19.1756 77.7847 19.1497 77.5629 19.1497H76.9195V24.3112H73.8581V7.76108H76.9195Z" fill="#4D8C56" />
            <path d="M88.4531 12.8671V24.3112H85.3917V12.8671H88.4531ZM88.8192 9.61478C88.8192 9.87378 88.7674 10.1143 88.6639 10.3363C88.5604 10.5583 88.4199 10.7544 88.2424 10.9246C88.0723 11.0948 87.869 11.228 87.6323 11.3242C87.4031 11.4204 87.1554 11.4685 86.8891 11.4685C86.6377 11.4685 86.3974 11.4204 86.1682 11.3242C85.9463 11.228 85.7503 11.0948 85.5803 10.9246C85.4102 10.7544 85.2734 10.5583 85.1699 10.3363C85.0737 10.1143 85.0257 9.87378 85.0257 9.61478C85.0257 9.35578 85.0737 9.11528 85.1699 8.89328C85.2734 8.66388 85.4102 8.46408 85.5803 8.29388C85.7503 8.12368 85.9463 7.99048 86.1682 7.89428C86.3974 7.79808 86.6377 7.74998 86.8891 7.74998C87.1554 7.74998 87.4031 7.79808 87.6323 7.89428C87.869 7.99048 88.0723 8.12368 88.2424 8.29388C88.4199 8.46408 88.5604 8.66388 88.6639 8.89328C88.7674 9.11528 88.8192 9.35578 88.8192 9.61478Z" fill="#4D8C56" />
            <path d="M97.5103 15.2203C97.4289 15.3461 97.3439 15.4386 97.2552 15.4978C97.1738 15.5496 97.0592 15.5755 96.9113 15.5755C96.7634 15.5755 96.6118 15.5385 96.4565 15.4645C96.3012 15.3905 96.1274 15.3128 95.9352 15.2314C95.7429 15.1426 95.5211 15.0612 95.2696 14.9872C95.0256 14.9132 94.7409 14.8762 94.4156 14.8762C93.9201 14.8762 93.5356 14.9798 93.262 15.187C92.9884 15.3868 92.8516 15.6532 92.8516 15.9862C92.8516 16.2156 92.9292 16.408 93.0845 16.5634C93.2398 16.7188 93.4431 16.8557 93.6946 16.9741C93.9534 17.0851 94.2455 17.1924 94.5708 17.296C94.8962 17.3922 95.229 17.4995 95.5691 17.6179C95.9167 17.7363 96.2532 17.8732 96.5785 18.0286C96.9039 18.184 97.1923 18.3801 97.4437 18.6169C97.7025 18.8463 97.9096 19.1275 98.0649 19.4605C98.2202 19.7861 98.2978 20.182 98.2978 20.6482C98.2978 21.2032 98.1943 21.7175 97.9872 22.1911C97.7876 22.6573 97.4918 23.0606 97.0999 23.401C96.7079 23.7414 96.2199 24.0078 95.6357 24.2002C95.0515 24.3926 94.3786 24.4888 93.6169 24.4888C93.225 24.4888 92.8368 24.4518 92.4522 24.3778C92.0677 24.3112 91.7017 24.215 91.3541 24.0892C91.0065 23.956 90.6812 23.8043 90.378 23.6341C90.0748 23.4639 89.8123 23.2789 89.5904 23.0791L90.3003 21.9358C90.3817 21.8026 90.4815 21.699 90.5998 21.625C90.7255 21.551 90.8845 21.514 91.0768 21.514C91.2617 21.514 91.4317 21.5621 91.587 21.6583C91.7423 21.7471 91.9161 21.847 92.1084 21.958C92.3006 22.0616 92.5262 22.1615 92.785 22.2577C93.0512 22.3465 93.3803 22.3909 93.7722 22.3909C94.068 22.3909 94.3231 22.3576 94.5376 22.291C94.752 22.2244 94.9258 22.1356 95.0589 22.0246C95.192 21.9062 95.2881 21.7767 95.3473 21.6361C95.4138 21.4881 95.4471 21.3364 95.4471 21.181C95.4471 20.9294 95.3658 20.7259 95.2031 20.5705C95.0478 20.4077 94.8408 20.2671 94.5819 20.1487C94.3305 20.0303 94.0384 19.923 93.7057 19.8268C93.3729 19.7306 93.0327 19.6233 92.6852 19.5049C92.345 19.3865 92.0085 19.2459 91.6758 19.0831C91.3504 18.9203 91.0583 18.7168 90.7995 18.4726C90.5481 18.221 90.341 17.9139 90.1783 17.5513C90.023 17.1887 89.9454 16.7484 89.9454 16.2304C89.9454 15.7568 90.0378 15.3091 90.2227 14.8873C90.4076 14.4581 90.6849 14.0807 91.0546 13.7551C91.4244 13.4295 91.8828 13.1705 92.43 12.9781C92.9847 12.7857 93.6243 12.6895 94.349 12.6895C95.1624 12.6895 95.9019 12.8227 96.5674 13.0891C97.233 13.3555 97.7802 13.7033 98.2091 14.1325L97.5103 15.2203Z" fill="#4D8C56" />
            <path d="M103.497 24.4888C102.98 24.4888 102.521 24.4148 102.122 24.2668C101.723 24.1114 101.386 23.8931 101.113 23.6119C100.839 23.3307 100.632 22.9903 100.491 22.5907C100.351 22.1911 100.281 21.7397 100.281 21.2365V15.0649H99.2048C99.0421 15.0649 98.9016 15.0131 98.7833 14.9095C98.6724 14.8059 98.6169 14.6505 98.6169 14.4433V13.2445L100.447 12.9115L101.068 9.94778C101.15 9.61478 101.375 9.44828 101.745 9.44828H103.342V12.9337H106.293V15.0649H103.342V21.0367C103.342 21.3549 103.416 21.6065 103.564 21.7915C103.719 21.9765 103.937 22.069 104.218 22.069C104.366 22.069 104.492 22.0542 104.596 22.0246C104.699 21.9876 104.788 21.9506 104.862 21.9136C104.936 21.8692 105.002 21.8322 105.061 21.8026C105.128 21.7656 105.195 21.7471 105.261 21.7471C105.35 21.7471 105.424 21.7693 105.483 21.8137C105.542 21.8507 105.601 21.9173 105.66 22.0135L106.581 23.4787C106.16 23.8117 105.683 24.0633 105.15 24.2335C104.618 24.4037 104.067 24.4888 103.497 24.4888Z" fill="#4D8C56" />
            <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M40.326 24.407L40.3249 24.4066C39.9074 24.2441 39.5523 24.0145 39.2624 23.7165C38.9725 23.4185 38.7544 23.0589 38.6073 22.6405C38.4602 22.2222 38.388 21.7535 38.388 21.2365V15.2149H37.462C37.2644 15.2149 37.0884 15.1508 36.9418 15.0224L36.9399 15.0208L36.9382 15.0191C36.7871 14.878 36.7242 14.6763 36.7242 14.4433V13.1193L38.5783 12.7819L39.1793 9.91456L39.1798 9.91216C39.2269 9.7194 39.3197 9.56089 39.4666 9.45244C39.6123 9.3449 39.7954 9.29828 40.0021 9.29828H41.7492V12.7837H44.6998V15.2149H41.7492V21.0367C41.7492 21.3316 41.8175 21.5459 41.9371 21.6964C42.0591 21.8408 42.2316 21.919 42.4756 21.919C42.612 21.919 42.7216 21.9055 42.8071 21.8816C42.9021 21.8475 42.9818 21.8142 43.047 21.7819C43.1202 21.7381 43.1875 21.7006 43.2488 21.6698C43.3335 21.6233 43.4239 21.5971 43.5183 21.5971C43.6307 21.5971 43.7361 21.6251 43.825 21.6899C43.9097 21.7446 43.9817 21.8316 44.0449 21.9342C44.045 21.9345 44.0452 21.9347 44.0453 21.9349L45.0368 23.5129L44.9312 23.5964C44.495 23.941 44.0018 24.2009 43.453 24.3764C42.9055 24.5514 42.3392 24.6388 41.7546 24.6388C41.223 24.6388 40.7463 24.5628 40.3272 24.4074L40.326 24.407ZM43.9176 22.0135C43.8585 21.9173 43.7993 21.8507 43.7401 21.8137C43.681 21.7693 43.607 21.7471 43.5183 21.7471C43.4518 21.7471 43.3852 21.7656 43.3186 21.8026C43.2595 21.8322 43.1929 21.8692 43.119 21.9136C43.045 21.9506 42.9563 21.9876 42.8528 22.0246C42.7492 22.0542 42.6235 22.069 42.4756 22.069C42.1946 22.069 41.9765 21.9765 41.8212 21.7915C41.6733 21.6065 41.5994 21.3549 41.5994 21.0367V15.0649H44.5499V12.9337H41.5994V9.44828H40.0021C39.6323 9.44828 39.4068 9.61478 39.3255 9.94778L38.7043 12.9115L36.8741 13.2445V14.4433C36.8741 14.6505 36.9295 14.8059 37.0405 14.9095C37.1588 15.0131 37.2993 15.0649 37.462 15.0649H38.5379V21.2365C38.5379 21.7397 38.6082 22.1911 38.7487 22.5907C38.8892 22.9903 39.0962 23.3307 39.3698 23.6119C39.6434 23.8931 39.9799 24.1114 40.3792 24.2668C40.7785 24.4148 41.237 24.4888 41.7546 24.4888C42.324 24.4888 42.875 24.4037 43.4074 24.2335C43.9398 24.0633 44.4168 23.8117 44.8383 23.4787L43.9176 22.0135ZM52.7357 12.9414L52.5277 15.3007L52.5248 15.3122C52.4835 15.4774 52.4114 15.6196 52.2901 15.7079L52.289 15.7087L52.2879 15.7095C52.1794 15.7855 52.0414 15.8143 51.8914 15.8143C51.7629 15.8143 51.585 15.7984 51.3613 15.7686L51.3589 15.7682L51.3565 15.7678C51.1414 15.732 50.9427 15.7144 50.76 15.7144C50.4936 15.7144 50.2604 15.7529 50.0581 15.827C49.8602 15.9022 49.6835 16.0078 49.5272 16.1438C49.3693 16.2812 49.2231 16.4512 49.0894 16.6552C48.9657 16.8548 48.8477 17.0823 48.7358 17.3383V24.4612H45.3745V12.7171H47.3325C47.6505 12.7171 47.9159 12.7718 48.0783 12.9241C48.2312 13.0676 48.3243 13.2979 48.3782 13.5829L48.3788 13.586L48.4849 14.3149C48.8025 13.8189 49.1596 13.411 49.5573 13.0939C50.0585 12.6942 50.6465 12.4951 51.3146 12.4951C51.8557 12.4951 52.3114 12.623 52.669 12.8914L52.7357 12.9414ZM48.5184 14.545C48.8518 13.9919 49.2293 13.5472 49.6507 13.2112C50.124 12.8338 50.6786 12.6451 51.3146 12.6451C51.8322 12.6451 52.2537 12.7672 52.5791 13.0114L52.3794 15.2758C52.3424 15.4238 52.2833 15.5274 52.2019 15.5866C52.128 15.6384 52.0245 15.6643 51.8914 15.6643C51.773 15.6643 51.603 15.6495 51.3811 15.6199C51.1593 15.5829 50.9522 15.5644 50.76 15.5644C50.4789 15.5644 50.2275 15.6051 50.0057 15.6865C49.7912 15.7679 49.599 15.8826 49.4289 16.0306C49.2588 16.1786 49.1035 16.3599 48.963 16.5745C48.8299 16.7891 48.7042 17.0333 48.5859 17.3071V24.3112H45.5244V12.8671H47.3325C47.643 12.8671 47.8575 12.9226 47.9758 13.0336C48.0941 13.1446 48.1792 13.337 48.2309 13.6108L48.3973 14.7541C48.437 14.6828 48.4773 14.6131 48.5184 14.545ZM57.2341 19.8743L57.233 19.8745C56.7456 19.9619 56.3656 20.0769 56.0875 20.2159C55.814 20.3563 55.6312 20.511 55.5244 20.6741C55.422 20.8346 55.371 21.0098 55.371 21.2032C55.371 21.6217 55.4854 21.8808 55.6768 22.0265C55.8936 22.1856 56.2056 22.2742 56.6298 22.2742C57.1227 22.2742 57.5393 22.1884 57.8843 22.0228C58.2281 21.8541 58.5737 21.5953 58.9202 21.2422V19.6852C58.2476 19.7233 57.6864 19.7865 57.2351 19.8741L57.2341 19.8743ZM58.9202 19.535C58.2397 19.5732 57.6685 19.6372 57.2066 19.7269C56.7111 19.8157 56.3155 19.9341 56.0197 20.0821C55.7313 20.2301 55.5243 20.4003 55.3986 20.5927C55.2803 20.7777 55.2211 20.9812 55.2211 21.2032C55.2211 21.6472 55.3431 21.9617 55.5871 22.1467C55.8386 22.3317 56.1861 22.4242 56.6298 22.4242C57.14 22.4242 57.58 22.3354 57.9498 22.1578C58.3269 21.9728 58.7003 21.6879 59.0701 21.3031V19.5271C59.0195 19.5296 58.9696 19.5322 58.9202 19.535ZM52.6472 14.4229L52.7359 14.3429C53.4223 13.724 54.1818 13.2623 55.014 12.9594C55.8455 12.6494 56.7432 12.4951 57.7057 12.4951C58.4022 12.4951 59.0285 12.6087 59.5821 12.8394C60.14 13.0689 60.6129 13.3914 60.9983 13.8075C61.3904 14.2156 61.6891 14.7034 61.8952 15.2688C62.1015 15.8347 62.2038 16.4517 62.2038 17.1184V24.4612H60.6563C60.3575 24.4612 60.1075 24.4196 59.9212 24.322L59.9198 24.3212L59.9185 24.3205C59.7244 24.2137 59.5854 24.0034 59.4842 23.7307L59.4833 23.7283L59.3089 23.2048C59.0765 23.4002 58.8484 23.5767 58.6246 23.7341C58.3511 23.9317 58.0657 24.0992 57.7686 24.2365L57.7671 24.2371L57.7656 24.2378C57.4668 24.3682 57.1459 24.4674 56.8035 24.5359C56.4665 24.6049 56.0903 24.6388 55.6759 24.6388C55.1598 24.6388 54.6856 24.5704 54.2546 24.4318C53.8233 24.2931 53.4468 24.0878 53.1272 23.8148L53.1257 23.8135L53.1242 23.8122C52.8108 23.5299 52.569 23.1817 52.3983 22.7703C52.2267 22.3566 52.1429 21.885 52.1429 21.3586C52.1429 20.9104 52.257 20.4654 52.4808 20.0252C52.7102 19.574 53.0973 19.175 53.6301 18.8246C54.1735 18.4647 54.8855 18.1745 55.7603 17.95C56.6148 17.7254 57.669 17.5963 58.9202 17.5605V17.1184C58.9202 16.4169 58.7713 15.9362 58.5045 15.6432L58.5034 15.642C58.2355 15.3412 57.8446 15.1816 57.3064 15.1816C56.896 15.1816 56.5636 15.2322 56.3045 15.3277L56.3028 15.3283L56.3012 15.3289C56.0268 15.4228 55.7873 15.5268 55.5819 15.6402L55.5803 15.6411C55.374 15.7517 55.1788 15.8586 54.9948 15.9617L54.9928 15.9628L54.9908 15.9639C54.7812 16.0729 54.5422 16.1251 54.2783 16.1251C54.039 16.1251 53.8263 16.0669 53.6488 15.9426L53.6452 15.9401L53.6419 15.9374C53.4887 15.8164 53.3593 15.6748 53.2541 15.5129L53.2513 15.5086L52.6472 14.4229ZM59.0701 17.7067C57.7612 17.7363 56.6705 17.8658 55.7979 18.0952C54.9327 18.3172 54.2376 18.6021 53.7126 18.9499C53.1949 19.2903 52.8289 19.6714 52.6144 20.0932C52.4 20.515 52.2928 20.9368 52.2928 21.3586C52.2928 21.8692 52.3741 22.3206 52.5368 22.7128C52.6995 23.105 52.9287 23.4343 53.2245 23.7007C53.5277 23.9597 53.8863 24.1558 54.3004 24.289C54.7146 24.4222 55.173 24.4888 55.6759 24.4888C56.0826 24.4888 56.4486 24.4555 56.774 24.3889C57.1068 24.3223 57.4174 24.2261 57.7057 24.1003C57.9941 23.9671 58.2714 23.8043 58.5377 23.6119C58.7723 23.4469 59.0124 23.2601 59.2579 23.0516C59.2987 23.017 59.3396 22.9817 59.3807 22.9459L59.6247 23.6785C59.7208 23.9375 59.8428 24.1077 59.9907 24.1891C60.146 24.2705 60.3679 24.3112 60.6563 24.3112H62.0539V17.1184C62.0539 16.4672 61.9541 15.8678 61.7544 15.3202C61.5547 14.7726 61.2663 14.3027 60.8892 13.9105C60.5195 13.5109 60.0647 13.2001 59.5249 12.9781C58.9924 12.7561 58.3861 12.6451 57.7057 12.6451C56.7592 12.6451 55.8792 12.7968 55.0658 13.1002C54.2524 13.3962 53.5092 13.8476 52.8363 14.4544L53.3798 15.4312C53.4759 15.5792 53.5942 15.7087 53.7347 15.8197C53.8826 15.9233 54.0638 15.9751 54.2783 15.9751C54.5223 15.9751 54.7367 15.927 54.9216 15.8308C55.1065 15.7272 55.3024 15.6199 55.5095 15.5089C55.7239 15.3905 55.9717 15.2832 56.2527 15.187C56.5337 15.0834 56.8849 15.0316 57.3064 15.0316C57.8758 15.0316 58.3121 15.2018 58.6153 15.5422C58.9185 15.8752 59.0701 16.4006 59.0701 17.1184V17.7067ZM72.1949 15.5101C72.1003 15.6363 72.0019 15.7402 71.8987 15.8176L71.8954 15.8201L71.8919 15.8224C71.7688 15.9045 71.6094 15.9364 71.4316 15.9364C71.2549 15.9364 71.085 15.8874 70.924 15.7941L70.9198 15.7917L70.9159 15.7891C70.7874 15.7034 70.6362 15.6132 70.4618 15.5187L70.4597 15.5175L70.4577 15.5163C70.291 15.4191 70.0901 15.3305 69.8535 15.2516L69.8516 15.2509L69.8497 15.2502C69.6272 15.1693 69.3426 15.1261 68.9914 15.1261C68.5514 15.1261 68.1759 15.2077 67.8604 15.3655L67.8592 15.3661C67.5495 15.5176 67.2913 15.7378 67.0835 16.029C66.8747 16.3215 66.7153 16.6804 66.6081 17.1091C66.5078 17.5396 66.4569 18.027 66.4569 18.5725C66.4569 19.7246 66.6869 20.5829 67.1255 21.1683C67.569 21.7505 68.1672 22.0411 68.9359 22.0411C69.2088 22.0411 69.4369 22.0195 69.6225 21.9785C69.8209 21.9287 69.987 21.8693 70.1223 21.8016L70.1236 21.801L70.1249 21.8003C70.2719 21.7303 70.3947 21.6547 70.495 21.5744C70.6065 21.4851 70.7108 21.4032 70.8078 21.3285L70.8099 21.3269L70.8121 21.3253C70.9211 21.2474 71.0283 21.1835 71.1338 21.1346C71.2593 21.0722 71.3965 21.0421 71.5426 21.0421C71.8221 21.0421 72.0525 21.1498 72.2159 21.3669L73.1678 22.5727L73.087 22.6665C72.754 23.0527 72.3968 23.3763 72.0151 23.636L72.0134 23.6372C71.6345 23.8874 71.2397 24.0888 70.8293 24.2409L70.8278 24.2415C70.4262 24.3855 70.0167 24.4843 69.5995 24.5375C69.1863 24.5976 68.7765 24.6277 68.3702 24.6277C67.6488 24.6277 66.9638 24.4946 66.3165 24.2279L66.3151 24.2273C65.6672 23.9527 65.0991 23.5558 64.6117 23.0376C64.1234 22.5184 63.7366 21.8832 63.4495 21.1348L63.449 21.1336C63.1681 20.3812 63.0292 19.5267 63.0292 18.5725C63.0292 17.7215 63.1534 16.928 63.4032 16.1932C63.6533 15.4575 64.0219 14.8178 64.5097 14.2762C64.9985 13.7336 65.6009 13.3106 66.3146 13.0067C67.0391 12.6939 67.8695 12.5395 68.8028 12.5395C69.6913 12.5395 70.4774 12.6826 71.1577 12.9733C71.8346 13.2625 72.4423 13.6809 72.9804 14.227L73.0701 14.318L72.1949 15.5101ZM66.3736 13.1446C65.6785 13.4406 65.0943 13.8513 64.621 14.3767C64.1478 14.9021 63.7891 15.5237 63.5451 16.2415C63.3011 16.9593 63.1791 17.7363 63.1791 18.5725C63.1791 19.5123 63.3159 20.3485 63.5895 21.0811C63.8705 21.8137 64.2476 22.4316 64.7209 22.9348C65.1941 23.438 65.745 23.8228 66.3736 24.0892C67.0022 24.3482 67.6677 24.4777 68.3702 24.4777C68.7695 24.4777 69.1725 24.4481 69.5793 24.3889C69.986 24.3371 70.3853 24.2409 70.7772 24.1003C71.1765 23.9523 71.5611 23.7562 71.9308 23.512C72.3005 23.2604 72.6481 22.9459 72.9735 22.5685L72.0972 21.4585C71.9641 21.2809 71.7792 21.1921 71.5426 21.1921C71.4169 21.1921 71.3022 21.218 71.1987 21.2698C71.1026 21.3142 71.0028 21.3734 70.8992 21.4474C70.8031 21.5214 70.6996 21.6028 70.5886 21.6916C70.4777 21.7804 70.3446 21.8618 70.1893 21.9358C70.0414 22.0098 69.864 22.0727 69.6569 22.1245C69.4572 22.1689 69.2169 22.1911 68.9359 22.1911C68.1225 22.1911 67.4791 21.8803 67.0059 21.2587C66.54 20.6371 66.3071 19.7417 66.3071 18.5725C66.3071 18.0175 66.3588 17.518 66.4623 17.074C66.5733 16.63 66.7396 16.2526 66.9615 15.9418C67.1833 15.631 67.4606 15.3942 67.7934 15.2314C68.1336 15.0612 68.5329 14.9761 68.9914 14.9761C69.3537 14.9761 69.6569 15.0205 69.9009 15.1093C70.145 15.1907 70.3557 15.2832 70.5332 15.3868C70.7107 15.483 70.8659 15.5755 70.9991 15.6643C71.1396 15.7457 71.2838 15.7864 71.4316 15.7864C71.5943 15.7864 71.72 15.7568 71.8088 15.6976C71.8975 15.631 71.9863 15.5385 72.075 15.4201L72.8736 14.3323C72.3486 13.7995 71.757 13.3925 71.0989 13.1113C70.4407 12.8301 69.6754 12.6895 68.8028 12.6895C67.8858 12.6895 67.0761 12.8412 66.3736 13.1446ZM77.0694 7.61108V17.0017H77.4298C77.6087 17.0017 77.7345 16.9775 77.8175 16.9397C77.9013 16.8941 77.9954 16.8093 78.0974 16.6732L80.6258 13.2996C80.6259 13.2995 80.626 13.2994 80.626 13.2993C80.7618 13.1155 80.9172 12.9708 81.0935 12.87L81.0947 12.8693L81.0961 12.8686C81.2866 12.7646 81.5165 12.7171 81.7779 12.7171H84.8819L81.4101 17.1303C81.4097 17.1308 81.4092 17.1314 81.4088 17.1319C81.1869 17.4299 80.9347 17.6775 80.6522 17.8733C80.7622 17.966 80.8621 18.0677 80.9516 18.1784C81.0815 18.3391 81.207 18.5179 81.328 18.7147C81.3283 18.7151 81.3285 18.7155 81.3288 18.7159L85.0138 24.4612H81.9886C81.7369 24.4612 81.5122 24.4219 81.3188 24.3377L81.3163 24.3367L81.3139 24.3355C81.1112 24.2385 80.9502 24.0738 80.8277 23.8541L78.2558 19.6498L78.255 19.6484L78.2542 19.6471C78.1567 19.4797 78.0688 19.3961 77.9986 19.3633C77.9177 19.3255 77.7778 19.2997 77.5629 19.2997H77.0694V24.4612H73.7082V7.61108H77.0694ZM76.9195 19.1497H77.5629C77.7847 19.1497 77.9511 19.1756 78.062 19.2274C78.1729 19.2792 78.2802 19.3939 78.3837 19.5715L80.9571 23.7784C81.068 23.9782 81.2085 24.1188 81.3786 24.2002C81.5487 24.2742 81.752 24.3112 81.9886 24.3112H84.7395L81.2011 18.7945C81.0828 18.6021 80.9608 18.4282 80.8351 18.2728C80.7424 18.1582 80.6376 18.0537 80.5208 17.9592C80.4792 17.9256 80.436 17.8932 80.3914 17.8621C80.4379 17.8347 80.4837 17.806 80.5287 17.7759C80.8127 17.586 81.0664 17.3409 81.2898 17.0407L84.5731 12.8671H81.7779C81.5339 12.8671 81.3305 12.9115 81.1678 13.0003C81.0125 13.0891 80.872 13.2186 80.7463 13.3888L78.2173 16.7632C78.1064 16.9112 77.9955 17.0148 77.8845 17.074C77.7736 17.1258 77.622 17.1517 77.4298 17.1517H76.9195V7.76108H73.8581V24.3112H76.9195V19.1497ZM88.603 12.7171V24.4612H85.2418V12.7171H88.603ZM86.1102 11.4625L86.1086 11.4618C85.8695 11.3581 85.6578 11.2143 85.4743 11.0306C85.2916 10.8479 85.1448 10.6373 85.034 10.3997L85.0331 10.3978L85.0323 10.3959C84.9275 10.1538 84.8758 9.89283 84.8758 9.61478C84.8758 9.33672 84.9275 9.07576 85.0323 8.83363L85.0328 8.83258L85.0332 8.83154C85.1439 8.5864 85.2908 8.3714 85.4743 8.18781C85.6578 8.00419 85.8695 7.86031 86.1086 7.75664L86.1102 7.75594C86.358 7.65194 86.6181 7.59998 86.8891 7.59998C87.1735 7.59998 87.4409 7.6514 87.6895 7.75561C87.9427 7.85865 88.1626 8.00216 88.3472 8.18667C88.5381 8.37 88.6892 8.58506 88.8001 8.83069C88.9132 9.07345 88.9691 9.33546 88.9691 9.61478C88.9691 9.89441 88.913 10.1567 88.7997 10.3997C88.6885 10.6381 88.5375 10.8491 88.3472 11.0318C88.1626 11.2163 87.9427 11.3598 87.6895 11.4628C87.4408 11.5671 87.1735 11.6185 86.8891 11.6185C86.6181 11.6185 86.358 11.5665 86.1102 11.4625ZM87.6323 11.3242C87.869 11.228 88.0723 11.0948 88.2424 10.9246C88.4199 10.7544 88.5604 10.5583 88.6639 10.3363C88.7674 10.1143 88.8192 9.87378 88.8192 9.61478C88.8192 9.35578 88.7674 9.11528 88.6639 8.89328C88.5604 8.66388 88.4199 8.46408 88.2424 8.29388C88.0723 8.12368 87.869 7.99048 87.6323 7.89428C87.4031 7.79808 87.1554 7.74998 86.8891 7.74998C86.6377 7.74998 86.3974 7.79808 86.1682 7.89428C85.9463 7.99048 85.7503 8.12368 85.5803 8.29388C85.4102 8.46408 85.2734 8.66388 85.1699 8.89328C85.0737 9.11528 85.0257 9.35578 85.0257 9.61478C85.0257 9.87378 85.0737 10.1143 85.1699 10.3363C85.2734 10.5583 85.4102 10.7544 85.5803 10.9246C85.7503 11.0948 85.9463 11.228 86.1682 11.3242C86.3974 11.4204 86.6377 11.4685 86.8891 11.4685C87.1554 11.4685 87.4031 11.4204 87.6323 11.3242ZM97.6364 15.3014L97.6361 15.3018C97.5478 15.4383 97.4495 15.5484 97.3383 15.6226L97.337 15.6235L97.3356 15.6243C97.2206 15.6976 97.0736 15.7255 96.9113 15.7255C96.7377 15.7255 96.5642 15.6819 96.3921 15.5999C96.2391 15.527 96.0674 15.4502 95.8768 15.3695L95.8746 15.3686L95.8724 15.3676C95.6881 15.2825 95.4733 15.2035 95.2274 15.1311L95.2262 15.1307C94.9995 15.062 94.73 15.0262 94.4156 15.0262C93.9388 15.0262 93.5907 15.1262 93.3524 15.3066L93.3514 15.3074L93.3503 15.3081C93.1146 15.4803 93.0014 15.7021 93.0014 15.9862C93.0014 16.1777 93.0646 16.3314 93.1905 16.4573C93.3303 16.5972 93.5174 16.7246 93.7561 16.8373C94.0086 16.9455 94.2947 17.0506 94.6148 17.1526C94.942 17.2493 95.2763 17.3572 95.618 17.4761C95.9708 17.5963 96.3125 17.7353 96.6431 17.8932C96.9811 18.0547 97.282 18.2589 97.5448 18.5061C97.8189 18.7495 98.0373 19.0469 98.2004 19.3963C98.3675 19.747 98.4477 20.1661 98.4477 20.6482C98.4477 21.2221 98.3406 21.7568 98.1248 22.2506C97.916 22.7379 97.6066 23.1595 97.1981 23.5143C96.7887 23.8699 96.2822 24.1452 95.6826 24.3427C95.0801 24.5411 94.3909 24.6388 93.6169 24.6388C93.216 24.6388 92.8187 24.601 92.4253 24.5253C92.0331 24.4573 91.659 24.359 91.3031 24.2302L91.3018 24.2298L91.3005 24.2293C90.9466 24.0936 90.6146 23.9389 90.3046 23.7649C89.9933 23.5901 89.7215 23.3989 89.4902 23.1906L89.3969 23.1066L90.1724 21.8576C90.1726 21.8573 90.1727 21.8571 90.1729 21.8568C90.2649 21.7065 90.3803 21.5854 90.5204 21.4978L90.5221 21.4967L90.5238 21.4957C90.6788 21.4045 90.8661 21.364 91.0768 21.364C91.2883 21.364 91.485 21.4192 91.6637 21.5293C91.8181 21.6176 91.9907 21.7169 92.1814 21.827C92.3652 21.9259 92.5827 22.0224 92.8347 22.1162C93.0806 22.1978 93.3917 22.2409 93.7722 22.2409C94.0574 22.2409 94.2968 22.2087 94.4931 22.1477C94.693 22.0856 94.8471 22.0054 94.9611 21.9108C95.0793 21.8053 95.1603 21.6941 95.2091 21.5779L95.2099 21.5762L95.2106 21.5745C95.2688 21.445 95.2972 21.3142 95.2972 21.181C95.2972 20.965 95.229 20.8026 95.0996 20.679L95.0971 20.6766L95.0947 20.674C94.9555 20.5282 94.7655 20.3976 94.5196 20.2851L94.5181 20.2844C94.2754 20.1701 93.991 20.0654 93.6641 19.9709C93.3289 19.874 92.9865 19.766 92.6369 19.6469L92.6359 19.6466C92.2899 19.5261 91.9479 19.3832 91.6099 19.2178L91.6087 19.2172C91.2706 19.048 90.9664 18.8362 90.6967 18.5817L90.6951 18.5802L90.6935 18.5786C90.4278 18.3127 90.2109 17.99 90.0416 17.6127L90.0411 17.6115L90.0406 17.6104C89.8752 17.2242 89.7955 16.7626 89.7955 16.2304C89.7955 15.7368 89.8919 15.2686 90.0853 14.8274C90.0853 14.8273 90.0854 14.8272 90.0854 14.827L90.2227 14.8873C90.4076 14.4581 90.6849 14.0807 91.0546 13.7551C91.4244 13.4295 91.8828 13.1705 92.43 12.9781C92.9847 12.7857 93.6243 12.6895 94.349 12.6895C95.1624 12.6895 95.9019 12.8227 96.5674 13.0891C97.233 13.3555 97.7802 13.7033 98.2091 14.1325L97.5103 15.2203C97.4289 15.3461 97.3439 15.4386 97.2552 15.4978C97.1738 15.5496 97.0592 15.5755 96.9113 15.5755C96.7634 15.5755 96.6118 15.5385 96.4565 15.4645C96.3012 15.3905 96.1274 15.3128 95.9352 15.2314C95.7429 15.1426 95.5211 15.0612 95.2696 14.9872C95.0256 14.9132 94.7409 14.8762 94.4156 14.8762C93.9201 14.8762 93.5356 14.9798 93.262 15.187C92.9884 15.3868 92.8516 15.6532 92.8516 15.9862C92.8516 16.2156 92.9292 16.408 93.0845 16.5634C93.2398 16.7188 93.4431 16.8557 93.6946 16.9741C93.9534 17.0851 94.2455 17.1924 94.5708 17.296C94.8962 17.3922 95.229 17.4995 95.5691 17.6179C95.9167 17.7363 96.2532 17.8732 96.5785 18.0286C96.9039 18.184 97.1923 18.3801 97.4437 18.6169C97.7025 18.8463 97.9096 19.1275 98.0649 19.4605C98.2202 19.7861 98.2978 20.182 98.2978 20.6482C98.2978 21.2032 98.1943 21.7175 97.9872 22.1911C97.7876 22.6573 97.4918 23.0606 97.0999 23.401C96.7079 23.7414 96.2199 24.0078 95.6357 24.2002C95.0515 24.3926 94.3786 24.4888 93.6169 24.4888C93.225 24.4888 92.8368 24.4518 92.4522 24.3778C92.0677 24.3112 91.7017 24.215 91.3541 24.0892C91.0065 23.956 90.6812 23.8043 90.378 23.6341C90.0748 23.4639 89.8123 23.2789 89.5904 23.0791L90.3003 21.9358C90.3817 21.8026 90.4815 21.699 90.5998 21.625C90.7255 21.551 90.8845 21.514 91.0768 21.514C91.2617 21.514 91.4317 21.5621 91.587 21.6583C91.7423 21.7471 91.9161 21.847 92.1084 21.958C92.3006 22.0616 92.5262 22.1615 92.785 22.2577C93.0512 22.3465 93.3803 22.3909 93.7722 22.3909C94.068 22.3909 94.3231 22.3576 94.5376 22.291C94.752 22.2244 94.9258 22.1356 95.0589 22.0246C95.192 21.9062 95.2881 21.7767 95.3473 21.6361C95.4138 21.4881 95.4471 21.3364 95.4471 21.181C95.4471 20.9294 95.3658 20.7259 95.2031 20.5705C95.0478 20.4077 94.8408 20.2671 94.5819 20.1487C94.3305 20.0303 94.0384 19.923 93.7057 19.8268C93.3729 19.7306 93.0327 19.6233 92.6852 19.5049C92.345 19.3865 92.0085 19.2459 91.6758 19.0831C91.3504 18.9203 91.0583 18.7168 90.7995 18.4726C90.5481 18.221 90.341 17.9139 90.1783 17.5513C90.023 17.1887 89.9454 16.7484 89.9454 16.2304C89.9454 15.7568 90.0378 15.3091 90.2227 14.8873M102.069 24.407L102.068 24.4066C101.65 24.2441 101.295 24.0145 101.005 23.7165C100.715 23.4185 100.497 23.0589 100.35 22.6405C100.203 22.2222 100.131 21.7535 100.131 21.2365V15.2149H99.2048C99.0072 15.2149 98.8312 15.1508 98.6846 15.0224L98.6828 15.0208L98.681 15.0191C98.5299 14.878 98.467 14.6763 98.467 14.4433V13.1193L100.321 12.7819L100.922 9.91456L100.923 9.91216C100.97 9.7194 101.063 9.56089 101.209 9.45244C101.355 9.3449 101.538 9.29828 101.745 9.29828H103.492V12.7837H106.443V15.2149H103.492V21.0367C103.492 21.3316 103.56 21.5459 103.68 21.6964C103.802 21.8408 103.974 21.919 104.218 21.919C104.355 21.919 104.464 21.9055 104.55 21.8816C104.645 21.8475 104.725 21.8142 104.79 21.7819C104.863 21.7381 104.93 21.7006 104.992 21.6698C105.076 21.6233 105.167 21.5971 105.261 21.5971C105.373 21.5971 105.479 21.6251 105.568 21.6899C105.653 21.7446 105.724 21.8316 105.788 21.9342C105.788 21.9344 105.788 21.9346 105.788 21.9349L106.78 23.5129L106.674 23.5964C106.238 23.941 105.745 24.2009 105.196 24.3764C104.648 24.5514 104.082 24.6388 103.497 24.6388C102.966 24.6388 102.489 24.5628 102.07 24.4074L102.069 24.407ZM105.66 22.0135C105.601 21.9173 105.542 21.8507 105.483 21.8137C105.424 21.7693 105.35 21.7471 105.261 21.7471C105.195 21.7471 105.128 21.7656 105.061 21.8026C105.002 21.8322 104.936 21.8692 104.862 21.9136C104.788 21.9506 104.699 21.9876 104.596 22.0246C104.492 22.0542 104.366 22.069 104.218 22.069C103.937 22.069 103.719 21.9765 103.564 21.7915C103.416 21.6065 103.342 21.3549 103.342 21.0367V15.0649H106.293V12.9337H103.342V9.44828H101.745C101.375 9.44828 101.15 9.61478 101.068 9.94778L100.447 12.9115L98.6169 13.2445V14.4433C98.6169 14.6505 98.6724 14.8059 98.7833 14.9095C98.9016 15.0131 99.0421 15.0649 99.2048 15.0649H100.281V21.2365C100.281 21.7397 100.351 22.1911 100.491 22.5907C100.632 22.9903 100.839 23.3307 101.113 23.6119C101.386 23.8931 101.723 24.1114 102.122 24.2668C102.521 24.4148 102.98 24.4888 103.497 24.4888C104.067 24.4888 104.618 24.4037 105.15 24.2335C105.683 24.0633 106.16 23.8117 106.581 23.4787L105.66 22.0135ZM88.4531 12.8671H85.3917V24.3112H88.4531V12.8671Z"
              fill="#4D8C56" />
            <path d="M0 5.34997C0 2.86469 2.0133 0.849976 4.49684 0.849976H25.4821C27.9656 0.849976 29.9789 2.86469 29.9789 5.34998V26.35C29.9789 28.8353 27.9656 30.85 25.4821 30.85H4.49684C2.0133 30.85 0 28.8353 0 26.35V5.34997Z" fill="#4D8C56" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.27065 8.65661H9.22557V8.07849C9.22557 7.75474 9.48561 7.50037 9.81656 7.50037C10.1475 7.50037 10.4075 7.75474 10.4075 8.07849V8.65661H13.4019V8.07849C13.4019 7.75474 13.6619 7.50037 13.9928 7.50037C14.3238 7.50037 14.5838 7.75474 14.5838 8.07849V8.65661H17.5388V8.07849C17.5388 7.75474 17.7988 7.50037 18.1297 7.50037C18.4607 7.50037 18.7207 7.75474 18.7207 8.07849V8.65661H21.6756C22.0066 8.65661 22.2666 8.91099 22.2666 9.23474V12.1254H22.2864C22.4919 17.7052 25.6083 20.3279 25.6407 20.354C25.8305 20.511 25.9004 20.7673 25.815 20.9954C25.7301 21.2229 25.5091 21.3753 25.2609 21.3753H9.81652C9.67799 21.3753 9.54411 21.3279 9.43793 21.2415C9.2896 21.12 5.90581 18.2724 5.69941 12.1256H5.69934L5.67967 9.23474C5.67967 8.91099 5.9397 8.65661 6.27065 8.65661ZM9.81652 22.5316C9.40271 22.5316 8.99989 22.3893 8.67899 22.1279C8.40903 21.9069 6.81904 20.5199 5.67963 17.7854V24.266C5.67963 24.5855 5.94395 24.8441 6.27061 24.8441H21.6756C22.0023 24.8441 22.2666 24.5855 22.2666 24.266V22.5316H9.81652ZM19.2169 13.6568C19.5527 13.3207 19.5527 12.7759 19.2169 12.4399C18.881 12.1039 18.3365 12.1039 18.0006 12.4399L13.6524 16.7902L12.0077 15.1447C11.6718 14.8086 11.1272 14.8086 10.7914 15.1447C10.4555 15.4807 10.4555 16.0255 10.7914 16.3615L13.0443 18.6155C13.3801 18.9516 13.9247 18.9516 14.2605 18.6155L19.2169 13.6568Z" fill="white" />
          </svg>
        </div>

        <!-- MENU -->
        <nav>
          <ul>
            <li>
              <a href="#features" class="btn">Features</a>
            </li>
            <li>
              <a href="#benefits" class="btn">Benefits</a>
            </li>
            <li>
              <a href="#pricing" class="btn">Pricing</a>
            </li>
          </ul>
          <a href="/sign-in" class="btn btn-primary">Sign in</a>
        </nav>
      </header>
    </main>
  </body>
</html>
